body { font-family: Helvetica, Arial, sans-serif; }
.ten-foot, .ten-foot input { font-size: 30px; }
input {
	margin:8px;
	width:75%;
}
.pair { margin:20px 0; }
.person {
	cursor:ns-resize;
	display:block;
}
.person.locked { background-color:#99ff99; }
.person.unlocked { background-color:#ccffcc; }
.person.empty { background-color:#ddd; }
.add { background-color:#cceeff; }
.actions { float:right; }
.actions .add:hover { background-color:#33cc33; }
.pair-actions .shuffle:hover { background-color: #33ff33; }
.pair-actions .shuffle:active { background-color: #ccffcc; }
.actions .unlock { background-color:#ff8833; }
.actions .lock:hover { background-color:#ff9966; }
.actions .delete:hover { background-color:#ff0000; }
.person {
	overflow:auto;
	margin:4px 0;
	padding:8px 12px;
}
.help, .add .actions { margin: 8px; }
.add .actions .action { margin-top:4px; }
.pair-actions { margin:8px; }
.pair-actions .action {
	margin:0 auto;
	width:100px;
	text-align:center;
	padding:8px;
	display:block;
}
.actions, .pair-actions {
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}
.action {
	cursor:pointer;
	display:inline-block;
	background-color:#bbb;
	padding:0px 4px;
}
.person, .action { border-radius:4px; }